<div class="public-reports">
    {% for award in site.data.awards.awards %}
    <div class="public-report">
        <div class="row">
            <div class="col-3 col-md-2">
                <div class="text-orange font-weight-bold">
                    {{ award.year }}
                </div>
            </div>
            <div class="col-9 col-md-10">
                {{ award.award }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
