<div class="row">
    <div class="col-7">
        <div class="navbar__logo-wrapper">
            <a href="{{ '/' | prepend: site.baseurl }}">
                <img class="navbar__logo" src="{{ '/assets/images/ros_logo_mobile.svg' | prepend: site.baseurl }}"
                     alt="website logo">
            </a>
        </div>
    </div>
    <div class="col-3 offset-2">
        <a href="#" class="hamburger-button-wrapper" id="hamburger-menu">
            <div class="hamburger-button">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </div>
        </a>
    </div>
</div>

<div id="nav-mobile" class="nav-mobile">
    <div class="nav-mobile__wrapper">
        <ul class="nav-mobile__items list-style-none">
            {% for item in site.data.menu.menu %}
            <li class="nav-mobile__item{% if item.url == page.url %} active {% endif %}">
                <a class="nav-mobile__link" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
                {% if item.sub-menu-item.size > 0 %}
                <ul class="nav-mobile__items nav-mobile__items--child list-style-none">
                    {% for entry in item.sub-menu-item %}
                    <li class="nav-mobile__item{% if entry.url == page.url %} active {% endif %}">
                        <a class="nav-mobile__link" href="{{ entry.url | prepend: site.baseurl }}">{{ entry.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
