{% if include.type == 'absolute' %}
{% assign nav_url = include.url %}
{% else %}
{% assign nav_url = include.url | prepend: site.baseurl %}
{% endif %}

<!-- this check is needed for menu items without url (click) -->
{% if include.url.size == null %}
<div class="nav__link">{{ include.title }}</div>
{% else %}
<a class="nav__link" href="{{ nav_url }}">{{ include.title }}</a>
{% endif %}
