<div class="">
    <div class="row">
        <div class="col-4">
            <div class="navbar__logo-wrapper">
                <a href="{{ '/' | prepend: site.baseurl }}">
                    <img class="navbar__logo" src="{{ '/assets/images/ros_logo_desktop.svg' | prepend: site.baseurl }}"
                         alt="website logo">
                </a>
            </div>
        </div>
        <div class="col-8">
            <ul class="nav list-style-none">
                {% for item in site.data.menu.menu %}
                <li class="nav__item{% if item.url == page.url %} active {% endif %}">
                    {% include nav-link.html
                    title=item.title
                    type=item.type
                    url=item.url
                    %}
                    {% if item.sub-menu-item.size > 0 %}
                    <ul class="nav__dropdown list-style-none">
                        {% for entry in item.sub-menu-item %}
                        <li class="nav__item{% if entry.url == page.url %} active {% endif %}">
                            {% include nav-link.html
                            title=entry.title
                            type=entry.type
                            url=entry.url
                            %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
