{% for category in site.our-team-categories %}
<div class="my-5">
    <div class="section-title mb-4">{{ category.title }}</div>
    <div class="team-member__wrapper">
        {% assign url = category.category | prepend: '/' %}

        {% assign sortedTeam = site.our-team | sort: 'lastName' | sort: 'order' %}
        {% for team-member in sortedTeam %}

        {% if team-member.path contains url %}

        {% include team-member-card.html
        config=team-member
        category=category
        %}

        {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}
