<div class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                {% if page.banner-padding-right == true %}
                <h1 class="page-banner__title pr-2">{{ page.title }}</h1>
                {% else %}
                <h1 class="page-banner__title">{{ page.title }}</h1>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 tab-bar-container">
                <div class="tab-bar mt-4 mb-4">
                    <a href="{{ '/highlights/'  | prepend: site.baseurl }}" class="tab-bar__item{% if page.type == 'videos' %} active {% endif %}">Videos</a>
                    <a href="{{ '/highlights/articles.html'  | prepend: site.baseurl }}" class="tab-bar__item{% if page.type == 'articles' %} active {% endif %}">Articles</a>
                    <a href="{{ '/highlights/podcasts.html'  | prepend: site.baseurl }}" class="tab-bar__item{% if page.type == 'podcasts' %} active {% endif %}">Podcasts</a>
                </div>
            </div>
        </div>
        {% if page.banner-divider != false %}
        <div class="divider"></div>
        {% endif %}
    </div>
</div>
