<div class="container posts__wrapper">
    <div class="row">
        <div class="col-12 col-md-8">
            {% assign sorted = paginator.posts | sort: 'date' | reverse %}
            {% for post in sorted %}
            {% include posts/post-card.html
            post=post
            %}
            {% endfor %}

            <div class="pt-3">
                {% include posts/post-paginator.html %}
            </div>
        </div>
        <div class="col-12 col-md-3 offset-md-1">
            {% include posts/posts-sidebar.html %}
        </div>
    </div>
</div>
