<div class="public-reports">
    {% for public-report in site.data.our-portfolio.public-reports %}
    <div class="public-report">
        <div class="row">
            <div class="col-4 col-md-2">
                <div class="public-report__logo">
                    {% if public-report.image != '' %}
                    <img src="{{ '/assets/images/portfolio-public-reports/' | append: public-report.image | prepend: site.baseurl }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-8 col-md-10">
                <div class="d-flex align-items-center" style="height: 100%">
                    <div class="mx-2">{{ public-report.project }}</div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
