{% if include.title %}
<div class="col pb-5 pt-0">
    <div class="section-title section-title--right">{{ include.title }}</div>
</div>
{% endif %}
<div class="ros-list ros-list--{{ include.row-amount }}">
    {% for item in include.config %}
    <div class="ros-list__item">
        <div class="ros-list__index">
            {% if forloop.index < 10 %}
            0{{ forloop.index }}
            {% else %}
            {{ forloop.index }}
            {% endif %}
        </div>
        <div class="ros-list__title
            {% if include.uppercase %}
            ros-list__title--uppercase
            {% endif %}">
            {{ item.title }}
        </div>
        {% if item.text %}
        <p>
            {{ item.text }}
        </p>
        {% endif %}
    </div>
    {% endfor %}
</div>

