<p>
  <a class="link d-inline-block mb-2" href="mailto:info@radicallyopensecurity.com">
    support@radicallyopensecurity.com
  </a><br />
  <a class="link" href="tel:+310202621255">
    +31 (0) 20 2621255
  </a>
</p>
