---
layout: post
title:  "Overview of talks in October 2014"
summary: "Radically Open Security has been busy this past month, presenting at conferences and teaching courses/workshops throughout the Netherlands, and Europe! Here is an overview of our activities in October:"
author: Melanie Rieback
banner-divider: false
featured-image:
background-color: light
---

<div class="content">
            
            <img alt="Holland Strikes Back" class="align-right" src="../images/20141028-HSB-logo.png" style="width: 45%;">
<p>Radically Open Security has been busy this past month, presenting at conferences and teaching courses/workshops throughout the Netherlands, and Europe!  Here is an overview of our activities in October:</p>
<ul class="simple">
<li>On October 2, ROS CEO Melanie Rieback discussed Radically Open Security at the <a class="reference external" href="https://www.surf.nl/agenda/2014/10/surfnet-relatiedagen-2014">SURFnet Relatiedagen</a>. <a class="reference external" href="https://www.surfnet.nl">SURFnet</a> is a collaborative organization for information and communications technology in Dutch higher education and research.</li>
<li>On October 7, ROS co-founders Jurriaan Bremer and Mark Schloesser gave a Cuckoo Workshop at Security Academy, where they taught how to setup and use Cuckoo Sandbox to analyze suspicious files and interpret any found malicious behavior.</li>
<li>On October 14, ROS CEO Melanie Rieback gave an 'Adventures in DDoS Analysis' presentation at the <a class="reference external" href="http://www.first.org/events/symposium/tbilisi2014">FIRST Symposium in Tbilisi</a>, Georgia followed by co-teaching a two-day FIRST/TERENA TRANSITS 1 course.  TRANSITS is affordable, high-quality training for both new and experienced Computer Security Incident Response Team (CSIRT) personnel.</li>
<li>On October 25, ROS volunteer Harm Boertien gave a presentation at <a class="reference external" href="http://www.t-dose.org">T-Dose</a>, which is a free annual event held in The Netherlands to promote use and development of Open Source Software.  He described what Radical Open Security is all about and how volunteers can participate in project <a class="reference external" href="/sbox-usable-privacy-and-anonymity-for-journalists.html">S-BOX</a>.</li>
<li>On October 28, ROS co-founder Peter Geissler gave a Cloud Security talk at <a class="reference external" href="http://www.hollandstrikesback.nl">Holland Strikes Back</a>, a conference highlighting Dutch initiatives against cyber attacks and abuse, organized by <a class="reference external" href="https://nlnet.nl">NLnet</a>, <a class="reference external" href="http://www.ispconnect.nl">ISPConnect</a>, <a class="reference external" href="http://dhpa.nl">Dutch Hosting Provider Association</a> and <a class="reference external" href="http://www.alertonline.nl">AlertOnline</a>.</li>
</ul>
<img alt="Harm Boertien presenting at T-Dose 2014" class="align-right" src="{{ '/assets/images/posts/20141025-T-Dose-Harm-S-Box.jpg' | prepend: site.baseurl }}" style="width: 45%;">
<img alt="Peter Geissler presenting at T-Dose 2014" class="align-right" src="{{ '/assets/images/posts/20141028-HollandStrikesBack-Peter.jpg' | prepend: site.baseurl }}" style="width: 45%;">
<p>If you would like one of our security experts to talk or teach at your
conference or activity, please contact us!</p>

            
            
        </div>