---
layout: post
title:  "Featured in NRC Handelsblad"
summary: "Radically Open Security's CEO Melanie Rieback was featured in Dutch newspaper \"NRC Handelsblad\" in an article \"Leave the hacking to the women\", talking about the need for female role models in cyber defense. The article was written by journalist Laura Wismans"
author: Team
banner-divider: false
featured-image: 'HackInTheBox-CTF-vrouwen.png'
background-color: light
---

<div class="content">
            
            <p>Radically Open Security's CEO Melanie Rieback was featured
in Dutch newspaper "NRC Handelsblad" in an article "Leave the hacking
to the women", talking about the need for female role models in
cyber defense. The article was written by journalist <a class="reference external" href="http://www.laurawismans.nl/">Laura Wismans</a></p>
<a class="reference external image-reference" href="{{ '/assets/documents/20140527-HackInTheBox-CTF-vrouwen.pdf' | prepend: site.baseurl }}"><img alt="Article in NRC with interview of Melanie Rieback" class="align-center" src="{{ '/assets/images/posts/HackInTheBox-CTF-vrouwen.png' | prepend: site.baseurl }}" style="width: 100%;"></a>
<p><a class="reference external" href="http://www.nrcq.nl/2014/05/28/laat-het-hacken-maar-aan-de-vrouwen-over">Read the article on the website of NRC</a></p>
<div class="section" id="laat-het-hacken-maar-aan-de-vrouwen-over">
<h2>Laat het hacken maar aan de vrouwen over</h2>
<p>Typisch vrouwen: niet mee willen doen aan een hackwedstrijd omdat ze denken dat de teams met mannen toch veel beter zijn. Er was wat overredingskracht voor nodig, maar vanaf morgenochtend 10.00 uur gaan twee teams van drie vrouwen er helemaal voor.</p>
<p>Dan begint de <a class="reference external" href="http://haxpo.nl/hitb2014ams-capture-the-flag/">Capture the Flag-hackcompetitie</a> op cyber-securityconferentie <a class="reference external" href="http://haxpo.nl/">Hack in the Box</a> in de Amsterdamse Beurs van Berlage. Twee dagen lang gaan ze inlogcodes kraken, documenten decoderen en inbreken op speciaal voor de wedstrijd opgezette websites. Nog nooit eerder deed een vrouwenteam mee aan deze hackcompetitie.</p>
<p>Vorig jaar op Hack in the Box: <a class="reference external" href="http://www.youtube.com/embed/jjRzqGUFECI">Zo hack je een vliegtuig</a>.</p>
<p>Technologie is een mannenwereld en cyber security al helemaal. In Europa is zo’n 7 procent van de mensen in de cyber security vrouw – die in marketingposities meegerekend. Dat viel Anouk Vos en Iowa Carels ook op. Daarom richtten ze begin 2013 hun netwerkgroep <a class="reference external" href="https://www.linkedin.com/groups/Women-in-Cyber-Security-4783454/about">Women in Cyber Security</a> op.</p>
<p>Voor de gezelligheid, maar ook om anderen duidelijk te maken dat ze bestaan. En dat ze niet onderdoen voor de mannen in hun sector. Hun netwerk bestaat nu uit bijna driehonderd vrouwen, uit Nederland en daarbuiten.</p>
<div class="section" id="alle-keynotes-door-vrouwen">
<h3>Alle keynotes door vrouwen</h3>
<p>Het is niet toevallig dat de vrouwen juist deze conferentie hebben uitgekozen om mee te doen aan Capture the Flag. De organisatoren van Hack in the Box hebben er dit jaar werk van gemaakt om alle keynote speeches door vrouwen te laten doen. Ongekend! De Women in Cyber Security wilden niet achterblijven en dus kregen alle leden een e-mail: wie wil meedoen aan de hackwedstrijd?</p>
<p><a class="reference external" href="https://radicallyopensecurity.com/team">Melanie Rieback</a> zei direct ja. Ze ontdekte Capture the Flag (CTF) afgelopen november als nieuwe hobby. Ze heeft haar eigen beveiligingsbedrijf en werkte eerder onder meer op de beveiligingsafdeling van ING. De hackwedstrijden ziet ze als goede aanvulling op haar werk.</p>
</div>
<div class="section" id="rolmodellen-voor-meisjeshackers">
<h3>Rolmodellen voor meisjeshackers</h3>
<p>Pakken vrouwen de opgaven anders aan dan mannen? Nee, denkt Rieback. “Maar vrouwen geven wel sneller op”, zegt een van de vrouwen tijdens een oefensessie. “Ja, die denken eerder dat het toch niet gaat lukken”, zegt hacker Esther (die haar achternaam niet wil geven).</p>
<p>Rieback wil niet van opgeven horen. Ze vindt dat gepraat over vrouwen en mannen eigenlijk ook maar onzin. Vrouwen kunnen hetzelfde als mannen. Het netwerk, en ook de deelname van dit team, vindt ze vooral belangrijk om dat te laten zien. Meisjeshackers moeten vaker rolmodel zijn.</p>
<p>Afgelopen zondag kwamen de vrouwen voor het laatst bij elkaar. De laatste tactieken zijn doorgesproken. Rieback is realistisch en acht de kans op de hoofdprijs niet groot. “Maar dat betekent niet meteen dat we laatste worden hoor”, zegt ze. Deze CTF zien de vrouwen vooral als een startpunt; ze gaan vanaf nu aan meer competities meedoen. Op de trainingsavond mijmeren ze: “zou een internationaal vrouwenteam niet gaaf zijn?”</p>
</div>
</div>

            
            
        </div>