---
layout: post
title:  "NetAidKit: protect yourself!"
summary: "Many people are aware of it by now: protect yourself when you go online! This is especially important for journalists and activists, who are regularly targeted by parties who hope to keep the public in the dark. Protecting your sources, colleagues and yourself from prying eyes is of vital importance. But for many people it is not that easy to set up the tools and take the required measures. This is where NetaidKit comes into play."
author: Melanie Rieback
banner-divider: false
featured-image: cartoon-ISOC.nl-award-netaidkit.png
background-color: light
---

<div class="content">
    <p>Many people are aware of it by now: protect yourself when you go online!</p>
    <p>This is especially important for journalists and activists, who are regularly targeted by parties who hope to keep the public in the dark. Protecting your sources, colleagues and yourself from prying eyes is of vital importance. But for many people it is not that easy to set up the tools and take the required measures.</p>
    <p>That's why <a class="reference external" href="https://freepressunlimited.org/en">Free Press Unlimited</a> and Radically Open Security have teamed up to create the <a class="reference external" href="https://netaidkit.net">NetAidKit</a>. The NetAidKit is a pocket-sized, USB-powered router that connects everything to everything, designed <strong>specifically for non-technical users</strong>. The easy-to-use web interface allows you to connect the NetAidKit to a wireless or cabled network and share that connection with your other devices, such as a phone, laptop or tablet.
        Once the NetAidKit has been hooked up to a wireless or cabled network, you can make it connect to a Virtual Private Network or the anonymising Tor network at the click of a button. Any devices connected to the NetAidKit will automatically use these extra security features, without needing to configure each of the devices separately.</p>
    <a class="reference external image-reference" href="https://isoc.nl/isoc-nl-internet-innovatie-award-2015/"><img alt="Cartoon of the NetAidKit from the ISOC.nl Innovation Award created by Michiel van de Pol/ComicHouse.nl" class="align-center" src="https://blog.radicallyopensecurity.com/images/cartoon-ISOC.nl-award-netaidkit.png" style="width: 100%;"></a>
    <p>Besides for journalists and activists, this box is also very useful for other non-technical users. Free Press Unlimited is currently <a class="reference external" href="https://www.sidnfonds.nl/nieuws/uitslag-eerste-call-bekend">developing and marketing</a> the NetAidKit for a wider audience.
        In 2015, the Netherlands chapter of Internet Society (ISOC.nl) awarded NetAidKit the <a class="reference external" href="https://isoc.nl/isoc-nl-internet-innovatie-award-2015/">Internet Innovation Award 2015</a>. We are very proud that ISOC has acknowledged the importance of creating a user-friendly way to secure your internet connection.</p>
    <p>To check out the specifics of NetAidKit on Github, go to:</p>
    <blockquote>
        <ul class="simple">
            <li><a class="reference external" href="https://github.com/radicallyopensecurity">https://github.com/radicallyopensecurity</a></li>
            <li><a class="reference external" href="https://netaidkit.net/">https://netaidkit.net/</a></li>
        </ul>
    </blockquote>
</div>