---
layout: post
title:  "Prizes!"
summary: "Radically Open Security has been rolling in prizes, during the last period of time."
author: Melanie Rieback
banner-divider: false
featured-image:
background-color: light
---

<div class="content">
    <p>Radically Open Security has been <strong>rolling</strong> in prizes, during the last
        period of time!</p>
    <p>Here they are:</p>
    <div class="section" id="chamber-of-commerce-sme-innovation-top-100">
        <h2>Chamber of Commerce - SME Innovation Top 100</h2>
        <p>Radically Open Security was recognized by the Dutch Chamber of Commerce
            (KvK) as one of the Top 100 Most Innovative SMEs of 2016!</p>
        <a class="reference external image-reference" href="http://www.mkbinnovatietop100.nl/site/top-100-2016"><img alt="Logo Most Innovative SMEs 2016" src="https://blog.radicallyopensecurity.com/images/20160816-MKB-Innovatie-Top-100-klein.jpg" style="width: 249px;"></a>
    </div>
    <div class="section" id="inspiring-fifty">
        <h2>Inspiring Fifty</h2>
        <p>Radically Open Security CEO/Co-founder Melanie Rieback was selected for
            the 'Inspiring Fifty' Netherlands, as one of the 50 most inspiring women
            in the Dutch technology sector!</p>
        <a class="reference external image-reference" href="http://www.inspiringfifty.com/nl2016/"><img alt="Logo Inspiring Fifty Netherlands 2016" src="https://blog.radicallyopensecurity.com/images/20160816-local_stars_heade_NL-1-1024x345.jpg" style="width: 512px;"></a>
    </div>
    <div class="section" id="pwnie-award-blackhat-usa-for-most-innovative-research-for-erik-bosman">
        <h2>Pwnie Award (Blackhat USA) for 'Most Innovative Research' for Erik Bosman</h2>
        <p>ROS hacker Erik Bosman just won a Pwnie Award for 'Most Innovative
            Research' at Blackhat USA in Las Vegas last week!</p>
        <a class="reference external image-reference" href="http://pwnies.com/winners/"><img alt="Logo The Pwnie Awards" src="https://blog.radicallyopensecurity.com/images/20160816-header_graphic.jpg" style="width: 490px;"></a>
    </div>
    <div class="section" id="internet-freedom-festival-tool-showcase-for-netaidkit">
        <h2>Internet Freedom Festival Tool Showcase (for NetAidKit)</h2>
        <p>The NetAidKit won several awards at the Internet Freedom Festival Tool
            Showcase!</p>
        <a class="reference external image-reference" href="https://equalit.ie/iff-tool-showcase-the-winners"><img alt="Logo Internet Freedom Festival" src="https://blog.radicallyopensecurity.com/images/20160816-Internet-Freedom-Festival-2017-R.png" style="width: 242px;"></a>
    </div>
    <div class="section" id="isoc-nl-internet-innovation-award-for-netaidkit">
        <h2>ISOC.nl Internet Innovation Award (for NetAidKit)</h2>
        <p>The NetAidKit won the Internet Innovation Award from ISOC.nl for 2015.</p>
        <a class="reference external image-reference" href="https://isoc.nl/isoc-nl-internet-innovatie-award-2015/"><img alt="Logo NetAidKit" src="https://blog.radicallyopensecurity.com/images/20160816-thumbnail-netaidkit.png" style="width: 600px;"></a>
        <p>We are <strong>super</strong> proud of all of this success that we've been having since
            the very beginning!  Thanks again to all of the awesome staff members,
            customers, and friends in the security/hacker/IT communities who have
            made all of this possible! :)</p>
    </div>
</div>
