---
layout: post
title:  "Radically Open Security - 2nd Anniversary!"
summary: "Radically Open Security is now officially 2 years old… it's hard to believe what a whirlwind this past year has been!"
author: Melanie Rieback
banner-divider: false
featured-image:
background-color: light
---

<div class="content">
            
            <p>Radically Open Security is now officially 2 years old… it's hard to
believe what a whirlwind this past year has been!</p>
<div class="section" id="about-our-company">
<h2>About our company</h2>
<ul class="simple">
<li>The size of our freelancer network has remained fairly stable at ~40 staff members. (3 management, ~10 core staff, ~25 extended network). There is still only 1 internal employee (the Director). Freelancers compose <strong>every</strong> other part of our organization, including pentesters / project management / R&amp;D folks / tech writers / finance. And it works!</li>
<li>We have made <strong>loads</strong> of investment in our infrastructure, tooling, automation, and processes. A standard pentest quotation (offerte) used to take us 1-2 weeks to write… now it takes us ~30 minutes!</li>
<li>We have fully embraced Pentesting ChatOps (RocketChat, Gitlab, Hubot) and Kanban (Kanboard). The two integrated methodologies have been a revolution for the way that we work!</li>
<li>We've spent the <strong>least</strong> time on marketing / sales / PR. (As you can tell from this outdated blog.) This is primarily because word-of-mouth (and occasional conference talks) already brings us almost more new customers than we can handle. And we're growing carefully/organically, so we haven't felt the need to push it! ;-)</li>
</ul>
</div>
<div class="section" id="about-our-customers">
<h2>About our customers</h2>
<p>We have already had ~30 different customers across a wide variety of
sectors:</p>
<ul class="simple">
<li>SW development / IT (6)</li>
<li>Government (4)</li>
<li>Non-profit / civil society (4)</li>
<li>Energy + Water (3)</li>
<li>Higher education (3)</li>
<li>Hosting providers/NRENs (3)</li>
<li>Core Internet backbone (2)</li>
<li>Insurance (1)</li>
<li>Law enforcement (1)</li>
<li>Computer security (1)</li>
<li>Media - television (1)</li>
</ul>
<p>Approx. 30% of these customers are now (quite regular) repeat
customers. The customer loyalty is partly rooted in our pentester
quality, and is partly due to the 'Peek Over Our Shoulder' option that
we offer by default.</p>
<p>And this isn't even accounting for the new customers in the pipeline.
Customer demand is currently <strong>exploding</strong> for us!</p>
</div>
<div class="section" id="other-facts">
<h2>Other facts</h2>
<ul class="simple">
<li>We made ~1500 commits to our ROS Github repository: <a class="reference external" href="https://github.com/radicallyopensecurity">https://github.com/radicallyopensecurity</a> This is where we publish our tooling and frameworks… it is our commitment to release as much as possible into the open-source!</li>
<li>Our NetAidKit (w/ Free Press Unlimited) has now won multiple awards: ISOC.nl Internet Innovation Award 2015 + Internet Freedom Festival Tool Showcase. We are busy selling the first 1000 units (with V1.0 firmware) by email request - the webshop (for the general public) should be appearing in 1-2 months from now.</li>
<li>We just won our first large(!) international RFP in the United States (Washington DC).</li>
<li>If current levels of business remain consistent, we anticipate a half million Euros of turnover for 2016. OMG!!!</li>
<li>Due to our unusual non-profit business model and freelancer-only construction (think: Uber/AirBNB model for computer security consultancy), the Stanford Graduate School of Business is halfway through writing a case study on Radically Open Security for their MBA entrepreneurship program!!! That is <strong>my</strong> personal highlight of the year! I couldn't imagine a better validation of what we're currently doing.</li>
</ul>
</div>
<div class="section" id="conclusion">
<h2>Conclusion</h2>
<p>So yeah… it's been a HECK of a year! I think that Year 2 wildly
succeeded with turning ROS from a startup into a business. My hopes and
ambitions for Year 3 are further maturation of our tooling / process /
workflow. And maybe… just maybe… we might be able to generate the
first Euros of profit for Stichting NLnet! I dream that this will be
the year that we can start fulfilling that promise!</p>
<p>Thanks to everybody (staff, customers, partners) for enabling us to have
this amazing journey,</p>
<p>Melanie Rieback</p>
</div>

            
            
        </div>