{% if page == 1 %}
<div class="posts-paginator__item {% if page == paginator.page %}selected {% endif %} ">
    <a class="posts-paginator__link" href="{{ '/blog' | prepend: site.baseurl }}">{{ page }}</a>
</div>
{% else %}
<div class="posts-paginator__item {% if page == paginator.page %}selected {% endif %} ">
    <a class="posts-paginator__link" href="{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a>
</div>
{% endif %}
