---
layout: default
title: Core Principles
background-color: dark
permalink: /core-principles/
banner-divider: false
banner-text:
---
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="divider"></div>
        </div>
    </div>
</div>

<div class="container">
    {% include ros-list.html
    uppercase=true
    config=site.data.non-profit.core-principles
    row-amount=5
    %}
</div>
