---
layout: default
title: Our Team
permalink: /our-team/
banner-divider: false
banner-text: ROS has over 40 staff members. Here are some featured team members, to give an idea of the people working here.
---

<div class="container">
    <div class="row">
        <div class="col-12">
            {% include our-team-cards.html %}
        </div>
    </div>
</div>
