---
layout: default
title: Our Services
permalink: /services/
background-color: dark
banner-divider: false
banner-text: 
---

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="mb-5">
                {% include ros-list.html
                config=site.data.our-services.services
                row-amount=3
                %}
            </div>

            <div class="py-2">
                <div class="d-block d-md-none">
                    <div class="section-title">Industries</div>
                    <div>We have had >150 customers from the following industries.</div>
                </div>
                <div class="d-none d-md-block">
                    <span class="section-title">Industries</span>
                    <span class="ml-5">We have had >150 customers from the following industries.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="divider divider--low-margin"></div>
    <div class="row">
        <div class="col-12 col-md-6">
            {% include industries-list.html
            data=site.data.our-portfolio.industries
            even=false
            %}
        </div>
        <div class="col-12 col-md-6">
            {% include industries-list.html
            data=site.data.our-portfolio.industries
            even=true
            %}
        </div>
    </div>
    <div class="divider divider--low-margin"></div>
</div>
