<!DOCTYPE html>
<html class="
{% if page.background-color == 'light' %}
light-background
{% else if page.background-color == 'dark' %}
dark-background
{% endif %}
">
{% include head.html %}
<body>
<div class="site-wrapper">
    {% include header.html %}
    <div class="page-content">
        {% if page.title %}
        {% include page-banner-tab.html %}
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="mb-5">
                        {% capture highlights_type %}
                        page.type
                        {% endcapture %}
                        {% include highlight-cards.html type=highlights_type %}
                    </div>
                </div>
            </div>
        </div>
        {{ content }}
    </div>
</div>
{% include footer.html %}
</body>
{% include bottom-scripts.html %}
</html>
