<!DOCTYPE html>
<html class="
{% if page.background-color == 'light' %}
light-background
{% else if page.background-color == 'dark' %}
dark-background
{% endif %}
">
{% include head.html %}
<body>
{% include header.html %}
<div class="page-content">
    <div class="container">
        <div class="row team-member-page__desktop">
            <div class="col-12 col-md-4">
                <div class="team-member__image" style="background-image: url('{{ '/assets/images/team/' | append: page.image | prepend: site.baseurl }}')">
                </div>
            </div>
            <div class="col-12 col-md-8">
                <h1 class="team-member-page__title">{{ page.nametitle }} {{ page.firstName }} {{ page.lastName }}</h1>
                <p>
                    {{ content }}
                </p>
            </div>
        </div>

        <div class="row team-member-page__mobile">
            <div class="container">
                <h1 class="team-member-page__title">{{ page.firstName }} {{ page.lastName }}</h1>
                <img class="team-member-page__image-mobile"
                     src="{{ '/assets/images/team/' | append: page.image | prepend: site.baseurl }}"
                     alt="{{ page.firstName }} {{ page.lastName }}">
                <p>
                    {{ content }}
                </p>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
{% include bottom-scripts.html %}
</html>
